*{
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    font-family: "poppins" , sans-serif;
=======
    font-family: 'poppins' , sans-serif;
>>>>>>> 2333c7e3600221c57d607dc8f19465e47568b2a9
    box-sizing: border-box;
}

body{
<<<<<<< HEAD
    background-color: #1D3752;
    /* background-color: #214D71; */
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image:url(background1.jpg);
    background-size:cover;
    background-position: center;
}
.container{
    padding: 10px 5%;
}   

nav{
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-wrap: wrap ; 
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: #fff; /* or any color you like */
  letter-spacing: 1px;
  width: 140px;
  margin-left: -50px;

}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
    list-style: none;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position:relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height:3px;
    background: #ff004f;
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
    margin-left: -50px;

}

.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}

.header-text h1 span{
    color: #ff004f;
    /* font-size: 30px; */
}

 .logo span{
    color: #ff004f;

} 

/* -------About-------- */
#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}
.about-col-1 {
    flex-basis: 35%;
  width: 40%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2 {
  width: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    font-weight: 500;
    margin-right: 50px;
    font-size: 18px;
    cursor: pointer;
    position: relative;

}

.tab-links::after{
    content: '';
    width: 0;
    height:3px;
    background: #ff004f;
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-content ul li{
    list-style: none;
    margin: 10px 0; 
}

.tab-content ul li span{
    font-size: 14px;
    color: #b54769;
}

.tab-content{
    display: none;
}

.tab-content.active-tab{
    display: block;
}


/* ---------Services----------- */
#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background:#172E44;
    padding: 40px;
    font-size: 13px;
    font-weight: 300; 
    border-radius: 10px;
    transition: background 0.5s , transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background-color: #b54769;
    transform: translateY(-10px);
}

/* -----portfolio---- */
#portfolio{
    margin: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    
}
.layer h3{
    font-weight: 500;
    margin-bottom: 10px;
}

.layer a{
    margin-top: 20px;
    text-decoration: none;
    color: #ff004f;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;

}
.btn:hover{
    background:#b54769; 
}

.contact-left{
   flex-basis: 40%;   
}
.contact-left h1{
    margin-bottom: 30px;
}

.contact-right{
    flex-basis: 55%;
}

.contact-left p i{
    color:#b54769;
    margin-right: 15px;
    font-size: 25px;
} 

.social-icon{
    margin-top: 30px;
}
.social-icon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icon a:hover{
    color: #b54769;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background:#b54769;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:  #2c2f33 ;
    padding: 15px;
    margin: 11px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 16px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    margin-top: 20px;
    background: #262626;
    text-align: center;
    padding: 15px 0;
    font-weight: 300;
}   
 
.copyright i{
    color:#ff004f;
}

 /* -- css for @media  screen layout -- */
@media only screen and (max-width:600px){
   #header{
            
   }
=======
    background-color: #222;

}

.card{
    max-width: 350px;
    max-width: 470px; 
    background: linear-gradient(135deg, #43cea2, #185a9d);

    color: #fff;
    margin: 30px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}



.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px; 
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;

}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;

}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;  
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px; 
}

.col{
    display: flex;
    text-align: left;
    align-items: center;
}
.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 20px;
    margin-top: -6px;

}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}


#datetime {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
>>>>>>> 2333c7e3600221c57d607dc8f19465e47568b2a9
}